.icon-bkgl{
    background:url('../jquery-easyui-1.5.1/themes/usericons/bklb.png') no-repeat center center;
}

.icon-home{
    background:url('../jquery-easyui-1.5.1/themes/usericons/home.png') no-repeat center center;
}

.icon-item{
    background:url('../jquery-easyui-1.5.1/themes/usericons/item.png') no-repeat center center;
}

.icon-writeblog{
    background:url('../jquery-easyui-1.5.1/themes/usericons/writeblog.png') no-repeat center center;
}

.icon-bkgl{
    background:url('../jquery-easyui-1.5.1/themes/usericons/bkgl.png') no-repeat center center;
}

.icon-bklb{
    background:url('../jquery-easyui-1.5.1/themes/usericons/bklb.png') no-repeat center center;
}

.icon-plgl{
    background:url('../jquery-easyui-1.5.1/themes/usericons/plgl.png') no-repeat center center;
}

.icon-grxx{
    background:url('../jquery-easyui-1.5.1/themes/usericons/grxx.png') no-repeat center center;
}

.icon-grxxxg{
    background:url('../jquery-easyui-1.5.1/themes/usericons/grxxxg.png') no-repeat center center;
}

.icon-system{
    background:url('../jquery-easyui-1.5.1/themes/usericons/system.png') no-repeat center center;
}

.icon-modifyPassword{
    background:url('../jquery-easyui-1.5.1/themes/usericons/modifyPassword.png') no-repeat center center;
}

.icon-refresh{
    background:url('../jquery-easyui-1.5.1/themes/usericons/refresh.png') no-repeat center center;
}

.icon-exit{
    background:url('../jquery-easyui-1.5.1/themes/usericons/exit.png') no-repeat center center;
}

.icon-submit{
    background:url('../jquery-easyui-1.5.1/themes/usericons/submit.png') no-repeat center center;
}

.icon-review{
    background:url('../jquery-easyui-1.5.1/themes/usericons/review.png') no-repeat center center;
}

.icon-link{
    background:url('../jquery-easyui-1.5.1/themes/usericons/link.png') no-repeat center center;
}
.icon-about_icon{
    background:url('../jquery-easyui-1.5.1/themes/usericons2/about_icon.png') no-repeat center center;
}
.icon-blog_show_icon{
    background:url('../jquery-easyui-1.5.1/themes/usericons2/blog_show_icon.png') no-repeat center center;
}
.icon-comment_icon{
    background:url("../jquery-easyui-1.5.1/themes/usericons2/comment_icon.png") no-repeat center center;
}
.icon-publish_comment_icon{
    background: url("../jquery-easyui-1.5.1/themes/usericons2/publish_comment_icon.png") no-repeat center center;
}